* {
    font-family: serif;
}

.dropdown {
    display: inline-block;
}

.dropdown.options-width-inherit {
    position: relative;
}

.dropdown-button {
    background-color: rgb(233, 233, 233);
    border: none;
    padding: 3px;
    font-size: 1rem;
}

.dropdown-button:hover {
    background-color: lightgray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    box-sizing: border-box;
    font-size: 1rem;
}

.dropdown-content.options-width-inherit {
    width: 100%;
}

.open {
    display: block;
}

.dropdown-content > a {
    display: block;
    padding: 3px;
}

.dropdown-content > a:hover {
    background-color: white;
    cursor: pointer;
}