.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    box-sizing: border-box;
}

.open {
    display: block;
}

.dropdown-content > div {
    display: block;
    padding: 3px;
}

.dropdown-content > div:hover {
    background-color: white;
    cursor: pointer;
}